body{
  font-family: 'Montserrat', sans-serif;
}
h2{
  margin-top: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 19px;
}
.box-login{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.box-login .logotipo-preta{
  text-align: center;
  margin-bottom: 50px;
}
.logotipo-preta{
  color: #000;
  font-size: 30px;
  line-height: 100%;
}
.logotipo-preta strong{
  color: #132356;
  display: block;
}
.login-form{
  max-width: 400px;
  width: 100%;
}
.login-form .btn-login{
  display: inline-block;
  width: 100%;
  padding: 18px 0px;
  background-color: #132356;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: 0px;
  line-height: 140%;
  margin-top: 20px;
  transition: 0.2s;
  border-radius: 16px;
}
.login-form .btn-login:hover{
  transition: 0.2s;
  opacity: 0.8;
}
.login-form input{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #000000;
  border: 0px;
  padding-bottom: 14px;
  padding-top: 14px;
  margin-bottom: 40px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0,0,0,.3);
}



.home-logotipo{
  padding-top: 60px;
}
.box-treino-de-hoje{
  background-color: #132356;
  padding: 40px 42px;
  border-radius: 20px;
}
.secao-treino-inicio a{
  text-decoration: none;
  cursor: pointer;
}
.box-treino-de-hoje .row{
  display: flex;
  align-items: center;
}
.box-treino-de-hoje .date-box-treino{
  background-color: #ebbe31;
  color: #fff;
  text-align: center;
  padding: 12px 0px;
  border-radius: 14px;
}
.box-treino-de-hoje .valor-dia{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}
.box-treino-de-hoje .valor-mes{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.box-treino-de-hoje .texto-infos-box-treino h4{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 4px;
}
.box-treino-de-hoje .texto-infos-box-treino h5{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0px;
}


.prox-treinos-lista{
  padding-bottom: 60px;
}
.prox-treinos-lista h3{
  margin-top: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 24px;
}
.prox-treinos-lista ul{
  list-style: none;
  padding-left: 0px;
}
.prox-treinos-lista a{
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
.prox-treinos-lista a:hover li{
  transition: 0.2s;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 16%);
}
.prox-treinos-lista li{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 15px;
  transition: 0.2s;
}
.prox-treinos-lista .date-box-treino{
  background-color: #ebbe31;
  color: #fff;
  text-align: center;
  padding: 12px 0px;
  border-radius: 14px;
  width: 72px;
}
.prox-treinos-lista .valor-dia{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}
.prox-treinos-lista .valor-mes{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.prox-treinos-lista .texto-infos-box-treino h4{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #000;
  margin-top: 0px;
  margin-bottom: 4px;
}
.prox-treinos-lista .texto-infos-box-treino h5{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000;
  margin: 0px;
}